<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Together | Dashboard</title>
    <meta name="description" content="Volunteer Matching">
    <meta name="author" content="author">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/template/images/favicon.ico">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/template/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/template/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/template/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/template/css/animations.css" rel="stylesheet">
    <link href="/template/plugins/slick/slick.css" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="/template/css/style.css" rel="stylesheet">
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="/template/css/typography-default.css" rel="stylesheet">
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
    <link href="/template/css/skins/light_blue.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="/template/css/custom.css" rel="stylesheet">
    <style>
        #map {
            height: 600px;
        }
    </style>
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="">

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
    <!-- header-container start -->
    <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second" class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown text-right">
                                <div class="btn-group">
                                    <a href="/admin/logout" class="btn btn-default btn-sm"><i class="fa fa-lock pr-2"></i>Log-out</a>
                                </div>
                            </div>
                            <!--  header top dropdowns end -->
                        </div>
                        <!-- header-top-second end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <!-- header-first start -->
                        <!-- ================ -->
                        <div class="header-first clearfix">

                            <!-- logo -->
                            <div id="logo" class="logo-font">
                                <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                            </div>

                            <!-- name-and-slogan -->
                            <div class="site-slogan">
                                Volunteer-Matching Service
                            </div>

                        </div>
                        <!-- header-first end -->

                    </div>
                    <div class="col-lg-9 ml-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation main-navigation--mega-menu  animated">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-brand clearfix hidden-lg-up">

                                        <!-- logo -->
                                        <div id="logo-mobile" class="logo">
                                            <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                                        </div>

                                        <!-- name-and-slogan -->
                                        <div class="site-slogan">
                                            Volunteer-Matching Service
                                        </div>

                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse scrollspy" id="navbar-collapse-1">
                                        <!-- main-menu -->
                                        <ul class="navbar-nav ml-lg-auto">
                                            <li class="nav-item active"><a href="/admin" class="nav-link">DashBoard</a>
                                            </li>
                                            <li class="nav-item"><a href="/admin/usermanage" class="nav-link">사용자 관리</a>
                                            </li>
                                            <li class="nav-item"><a href="/admin/volunteer-manage" class="nav-link">봉사 관리</a></li>
                                            <li class="nav-item"><a href="/admin/approve" class="nav-link">봉사 승인</a>
                                            </li>
                                            <li class="nav-item"><a href="/admin/contact-manage" class="nav-link">Contact</a>
                                            </li>
                                            <li class="nav-item"><a href="/admin/join-manage" class="nav-link">Join</a>
                                            </li>
                                            <li class="nav-item"><a href="/admin/question" class="nav-link">Question</a></li>
                                        </ul>
                                        <!-- main-menu end -->
                                    </div>
                                </nav>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->

    <!-- section start -->
    <!-- ================ -->

    <!-- section end -->

    <!-- main-container start -->
    <!-- ================ -->
    <div class="main-container">
        <div class="container">
            <div class="stats">
                <div class="row">
                    <div class="col-lg-3 col-6 text-center">
                        <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <span class="icon dark-bg circle"><i class="fa fa-users"></i></span>
                            <h4><strong>총 가입자수</strong></h4>
                            <span class="counter" data-to ="<%=result.totalUser[0].count%>" data-speed="1000">0</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <span class="icon dark-bg circle"><i class="fa fa-male"></i></span>
                            <h4><strong>총 Helper</strong></h4>
                            <span class="counter" data-to="<%=result.totalHelper[0].count%>" data-speed="1000">0</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <span class="icon dark-bg circle"><i class="fa fa-wheelchair"></i></span>
                            <h4><strong>총 Helpee</strong></h4>
                            <span class="counter" data-to="<%=result.totalHelpee[0].count%>" data-speed="1000">0</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <span class="icon dark-bg circle"><i class="fa fa-handshake-o"></i></span>
                            <h4><strong>총 봉사</strong></h4>
                            <span class="counter" data-to="<%=result.totalVol[0].count%>" data-speed="1000">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs style-4" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#h2tab1" role="tab" data-toggle="tab"><i
                                class="fa fa-dashboard pr-2"></i>매칭 현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-handshake-o"></i>봉사 요청 현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-user pr-2"></i>신규 유저</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#h2tab4" role="tab" data-toggle="tab"><i
                                class="fa fa-line-chart pr-2"></i>운영 통계</a>
                </li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane show active" role="tabpanel" id="h2tab1">
                    <h1 class="page-title">매칭 현황</h1>
                    <div class="separator-2"></div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="h2tab2">
                    <h1 class="page-title">봉사 요청 현황</h1>
                    <div class="separator-2"></div>
                    <br>
                    <div class="container">
                        <h3>신규 봉사 요청</h3>
                        <div class="separator-2"></div>
                        <div class="row">
                            <div class="main col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>no</th>
                                        <th>어르신 전화번호</th>
                                        <th>요청 내용</th>
                                        <th>봉사 등록일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for (var indexI = 0; indexI < result.standBy.length; indexI++) { %>
                                    <tr>

                                        <td><%= indexI+1 %></td>
                                        <td><%= result.standBy[indexI].helpeeId %></td>
                                        <td><%= result.standBy[indexI].content %></td>
                                        <td><%= moment(result.standBy[indexI].createdAt).format('YYYY년 MM월 DD일 HH시 mm분')%></td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                                <!--<div class="text-right col-12">
                                    <a href="/admin/usermanage" class="text-right">Read More<i
                                                class="pl-1 fa fa-angle-double-right"></i></a>
                                </div>-->

                            </div>

                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="container">
                        <h3>매칭중인 봉사 요청</h3>
                        <div class="separator-2"></div>
                        <div class="row">
                            <div class="main col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>no</th>
                                        <th>어르신 전화번호</th>
                                        <th>봉사자 전화번호</th>
                                        <th>요청 내용</th>
                                        <th>봉사자 봉사 신청일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for (var indexI = 0; indexI < result.match.length; indexI++) { %>
                                    <tr>

                                        <td><%= indexI+1 %></td>
                                        <td><%= result.match[indexI].helpeeId %></td>
                                        <td><%= result.match[indexI].helperId %></td>
                                        <td><%= result.match[indexI].content %></td>
                                        <td><%= moment(result.match[indexI].matchAt).format('YYYY년 MM월 DD일 HH시 mm분')%></td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                                <!--<div class="text-right col-12">
                                    <a href="/admin/usermanage" class="text-right">Read More<i
                                                class="pl-1 fa fa-angle-double-right"></i></a>
                                </div>-->
                            </div>

                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="container">
                        <h3>매칭된 봉사 요청</h3>
                        <div class="separator-2"></div>
                        <div class="row">
                            <div class="main col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>no</th>
                                        <th>어르신 전화번호</th>
                                        <th>봉사자 전화번호</th>
                                        <th>요청 내용</th>
                                        <th>매칭 완료일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for (var indexI = 0; indexI < result.matched.length; indexI++) { %>
                                    <tr>

                                        <td><%= indexI+1 %></td>
                                        <td><%= result.matched[indexI].helpeeId %></td>
                                        <td><%= result.matched[indexI].helperId %></td>
                                        <td><%= result.matched[indexI].content %></td>
                                        <td><%= moment(result.matched[indexI].matchedAt).format('YYYY년 MM월 DD일 HH시 mm분')%></td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                                <!--<div class="text-right col-12">
                                    <a href="/admin/usermanage" class="text-right">Read More<i
                                                class="pl-1 fa fa-angle-double-right"></i></a>
                                </div>-->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="h2tab3">
                    <h1 class="page-title">신규 가입 유저</h1>
                    <div class="separator-2"></div>
                    <br>
                    <div class="container">
                        <h3>신규 봉사자</h3>
                        <div class="separator-2"></div>
                        <div class="row">
                            <div class="main col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>no</th>
                                        <th>id</th>
                                        <th>이름</th>
                                        <th>전화번호</th>
                                        <th>가입일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for (var indexI = 0; indexI < result.helpers.length; indexI++) { %>
                                    <tr>

                                        <td><%= indexI+1 %></td>
                                        <td><%= result.helpers[indexI].userId %></td>
                                        <td><%= result.helpers[indexI].name %></td>
                                        <td><%= result.helpers[indexI].userPhone %></td>
                                        <td><%= moment(result.helpers[indexI].createdAt).format('YYYY-MM-DD HH:mm') %></td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                                <div class="text-right col-12">
                                    <a href="/admin/usermanage" class="text-right">Read More<i
                                                class="pl-1 fa fa-angle-double-right"></i></a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="container">
                        <h3>신규 어르신</h3>
                        <div class="separator-2"></div>
                        <div class="row">
                            <div class="main col-md-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>no</th>
                                        <th>id</th>
                                        <th>전화번호</th>
                                        <th>가입일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for (var indexI = 0; indexI < result.helpees.length; indexI++) { %>
                                    <tr>

                                        <td><%= indexI+1 %></td>
                                        <td><%= result.helpees[indexI].userId %></td>
                                        <td><%= result.helpees[indexI].userPhone %></td>
                                        <td><%= moment(result.helpees[indexI].createdAt).format('YYYY-MM-DD HH:mm') %></td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                                <div class="text-right col-12">
                                    <a href="/admin/usermanage" class="text-right">Read More<i
                                                class="pl-1 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="h2tab4">
                    <div class="main">

                        <!-- page-title start -->
                        <!-- ================ -->
                        <h1 class="page-title">통계 </h1>
                        <div class="separator-2"></div>
                        <!-- page-title end -->

                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <h2 class="mt-3">유저 증감</h2>
                                <div class="separator-2"></div>
                                <canvas id="new-user-graph"></canvas>
                                <br>
                                <br>
                            </div>
                            <div class="col-sm-6">
                                <h2 class="mt-3">접속 추이</h2>
                                <div class="separator-2"></div>
                                <canvas id="access-graph"></canvas>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2 class="mt-3">매칭 현황</h2>
                                <div class="separator-2"></div>
                                <canvas id="new-volunteer-graph"></canvas>
                                <br>
                                <br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <h2 class="mt-3">봉사자 평점</h2>
                                <div class="separator-2"></div>
                                <canvas class="" id="helper-score-graph" height="230"></canvas>
                            </div>
                            <div class="col-sm-6">
                                <h2 class="mt-3">어르신 평점</h2>
                                <div class="separator-2"></div>
                                <canvas id="helpee-score-graph" height="230"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- main-container end -->
    <footer id="footer" class="clearfix dark">


        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Copyright © 2018 AJOU UNIVERSITY SW. All rights reserved. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script src="/template/plugins/jquery.min.js"></script>
<script src="/template/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Isotope javascript -->
<script src="/template/plugins/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/template/plugins/isotope/isotope.pkgd.min.js"></script>
<!-- Magnific Popup javascript -->
<script src="/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Appear javascript -->
<script src="/template/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/template/plugins/charts/Chart.js"></script>
<script src="/template/plugins/waypoints/sticky.min.js"></script>
<!-- Count To javascript -->
<script src="/template/plugins/countTo/jquery.countTo.js"></script>
<!-- Slick carousel javascript -->
<script src="/template/plugins/slick/slick.min.js"></script>
<!-- Initialization of Plugins -->
<script src="/template/js/template.js"></script>
<script src="/util/AjaxUtil.js"></script>

<script type="text/javascript">

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };


    AjaxHandler.get("/api/admin/dashboard/weekly-user", function (result) {
        renderTrafficChart('일별 신규 회원 수', 'new-user-graph', result.users, chartColors.red);
        renderTrafficChart('일별 접속자 수', 'access-graph', result.accesses, chartColors.blue);
        renderMultipleChart(result.standBy, result.match, result.matched);
        renderFeedbackChart('helper-score-graph', result.helperScore);
        renderFeedbackChart('helpee-score-graph', result.helpeeScore);
    });

    function labelAndDataMatching(result){

        var label = new Array();
        var data = new Array();
        for (var indexI = 0; indexI < result.length; indexI++) {
            label.push(result[indexI].w_date);
            data.push(result[indexI].count);
        }

        var chartData = createDefaultChartData();
        for (var indexI = 0; indexI < label.length; indexI++) {
            for (var indexJ = 0; indexJ < chartData.label.length; indexJ++) {
                var defaultDate = chartData.label[indexJ];
                var userDate = label[indexI];

                if (defaultDate === userDate) {
                    chartData.data[indexJ] = data[indexI];
                    continue;
                }
            }
        }
        return chartData;
    }

    function renderMultipleChart(standBy, match, matched) {
        standBy=labelAndDataMatching(standBy);
        match=labelAndDataMatching(match);
        matched=labelAndDataMatching(matched);

        var lineChartData = {
            labels: standBy.label,
            datasets: [{
                label: '도움 요청',
                borderColor: window.chartColors.yellow,
                backgroundColor: window.chartColors.yellow,
                fill: false,
                data: standBy.data
            }, {
                label: '봉사 신청',
                borderColor: window.chartColors.blue,
                backgroundColor: window.chartColors.blue,
                fill: false,
                data: match.data
            }, {
                label: '매칭 완료',
                borderColor: window.chartColors.red,
                backgroundColor: window.chartColors.red,
                fill: false,
                data: matched.data
            }]
        };


        var ctx = document.getElementById('new-volunteer-graph').getContext('2d');
        Chart.Line(ctx, {
            data: lineChartData,
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                    display: true,
                    text: '주간 봉사 등록 및 도움 요청 매칭 현황'
                }
            }
        });
    }

    function renderTrafficChart(title, selector, result, color) {
        var label = new Array();
        var data = new Array();

        for (var indexI = 0; indexI < result.length; indexI++) {
            label.push(result[indexI].date);
            data.push(result[indexI].count);
        }
        renderLineChartWithData(title, selector, label, data, color);
    }


    function renderFeedbackChart(selector, result) {
        // Data for pie chart
        var label = new Array();
        var data = new Array();

        for (var indexI = 0; indexI < result.length; indexI++) {
            label.push(result[indexI].score + '점');
            data.push(result[indexI].count);
        }

        renderPieChart(selector, label, data);
    }
    function renderPieChart(id, label, data) {
        var pieData = {
            labels: label,
            datasets: [
                {
                    data: data,
                    backgroundColor: [
                        chartColors.blue,
                        chartColors.red,
                        chartColors.green,
                        chartColors.orange,
                        chartColors.yellow
                    ],
                    hoverBackgroundColor: [
                        chartColors.blue,
                        chartColors.red,
                        chartColors.green,
                        chartColors.orange,
                        chartColors.yellow
                    ]
                }]
        };

        var ctx = document.getElementById(id).getContext("2d");
        var PieChart = new Chart(ctx, {
            type: 'pie',
            data: pieData
        });
    }

    function renderLineChartWithData(title, selector, label, data, color) {
        var chartData = createDefaultChartData();

        for (var indexI = 0; indexI < label.length; indexI++) {
            for (var indexJ = 0; indexJ < chartData.label.length; indexJ++) {
                var defaultDate = chartData.label[indexJ];
                var userDate = label[indexI];

                if (defaultDate === userDate) {
                    chartData.data[indexJ] = data[indexI];
                    continue;
                }
            }
        }

        var lineChartData = {
            labels: chartData.label,
            datasets: [
                {
                    label: title,
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: color,
                    borderColor: color,
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: chartData.data,
                    spanGaps: false,
                }
            ]
        };

        renderLineChart(selector, lineChartData);
    }

    function renderLineChart(id, data) {
        // Line Charts Initialization
        var ctx = document.getElementById(id).getContext("2d");
        var LineChart = new Chart(ctx, {
            type: 'line',
            data: data,
            responsive: true,
            bezierCurve: false
        });

    }

    function createDefaultChartData() {
        var result = {
            label: new Array(),
            data: new Array()
        };

        var label = getLastWeekDates();

        for (var indexI = 0; indexI < label.length; indexI++) {
            result.label.push(label[indexI]);
            result.data.push(0);
        }

        return result;
    }

    function getLastWeekDates() {
        var week = 7;
        var result = new Array();
        // Data for line charts
        var now = new Date();
        now.setDate(now.getDate() - week);

        for (var indexI = 0; indexI < week; indexI++) {
            now.setDate(now.getDate() + 1);
            var currentDate=now.getDate();
            if(currentDate <10){
                currentDate='0'+currentDate;
            }

            var currentMonth = now.getMonth() + 1;

            if (currentMonth < 10) {
                currentMonth = '0' + (now.getMonth() + 1);
            }
            result.push(currentMonth + '-' + currentDate);
        }
        return result;
    }


    function initMap() {
        AjaxHandler.get('/api/admin/dashboard/weekly/volunteers' , function (result) {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: {lat: 37.5662952, lng: 126.97794509999994}
            });

            if (result.standBy.length > 0) {

                var data = new Array();
                for (var indexI =0; indexI <  result.standBy.length; indexI++) {
                    var standBy = result.standBy[indexI];
                    data.push({
                        location : {
                            lat : standBy.latitude ,
                            lng : standBy.longitude
                        } ,
                        message : '<h3>매칭대기 </h3><br> 어르신 전화번호 : ' + standBy.helpeeId + '<br> 요청 메세지 : ' +  standBy.content
                    });
                }
            }


            if (result.match.length > 0) {
                for (var indexI =0; indexI <  result.match.length; indexI++) {
                    var match = result.match[indexI];
                    data.push({
                        location : {
                            lat : match.latitude ,
                            lng : match.longitude
                        } ,
                        message : '<h3>매칭중</h3><br> 어르신 전화번호 : ' + match.helpeeId + '<br> 봉사자 전화번호 : ' + match.helperId + '<br> 요청 메세지 : ' +  match.content
                    });
                }
            }

            if (result.matched.length > 0) {
                //var matchedData = new Array();
                for (var indexI =0; indexI <  result.matched.length; indexI++) {
                    var matched = result.matched[indexI];
                    data.push({
                        location : {
                            lat : matched.latitude ,
                            lng : matched.longitude
                        } ,
                        message : '<h3>매칭완료</h3><br> 어르신 전화번호 : ' + matched.helpeeId + '<br>봉사자 전화번호 : ' + matched.helperId + '<br> 요청 메세지 : ' +  matched.content
                    });
                }

                renderMap(map , data);
            }

        });


    };

    function renderMap(map , dataList) {
        var latlngBounds = new google.maps.LatLngBounds();

        for (var index = 0; index <  dataList.length; index++) {
            addMarker(dataList[index].location, index, map , dataList[index].message);
            latlngBounds.extend(dataList[index].location);
        }

        map.setCenter(latlngBounds.getCenter());

        if (dataList.length > 1) {
            map.fitBounds(latlngBounds);
        }
    }

    function addMarker(position, index, map , clickHtml) {
        var marker = new google.maps.Marker({
            position: position,
            animation: google.maps.Animation.DROP,
            map: map
        });

        // process multiple info windows
        (function (marker, index) {
            // add click event
            google.maps.event.addListener(marker, 'click', function () {
                var infowindow = new google.maps.InfoWindow({
                    content: clickHtml
                });
                infowindow.open(map, marker);
            });
        })(marker, index);
        return marker;
    }



</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v-3.exp&key=AIzaSyDxOBACwViZBQrKqxL_iV2G3tDF5XnAhvg&callback=initMap">
</script>

</body>
</html>
