<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Together</title>
    <meta name="description" content="Volunteer Matching">
    <meta name="author" content="author">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/template/images/favicon.ico">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/template/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/template/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/template/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/template/css/animations.css" rel="stylesheet">
    <link href="/template/plugins/slick/slick.css" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="/template/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="/template/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
    <link href="/template/css/skins/light_blue.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="/template/css/custom.css" rel="stylesheet">

</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="">

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
    <!-- header-container start -->
    <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second"  class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown text-right">
                                <div class="btn-group">
                                    <a href="/admin/logout" class="btn btn-default btn-sm"><i class="fa fa-lock pr-2"></i>Log-out</a>
                                </div>
                            </div>
                            <!--  header top dropdowns end -->
                        </div>
                        <!-- header-top-second end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <!-- header-first start -->
                        <!-- ================ -->
                        <div class="header-first clearfix">

                            <!-- logo -->
                            <div id="logo" class="logo-font">
                                <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                            </div>

                            <!-- name-and-slogan -->
                            <div class="site-slogan">
                                Volunteer-Matching Service
                            </div>

                        </div>
                        <!-- header-first end -->

                    </div>
                    <div class="col-lg-9 ml-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation main-navigation--mega-menu  animated">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-brand clearfix hidden-lg-up">

                                        <!-- logo -->
                                        <div id="logo-mobile" class="logo">
                                            <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                                        </div>

                                        <!-- name-and-slogan -->
                                        <div class="site-slogan">
                                            Volunteer-Matching Service
                                        </div>

                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse scrollspy" id="navbar-collapse-1">
                                        <!-- main-menu -->
                                        <ul class="navbar-nav ml-lg-auto">
                                            <li class="nav-item"><a href="/admin" class="nav-link">DashBoard</a></li>
                                            <li class="nav-item active"><a href="/admin/user-manage" class="nav-link">사용자 관리</a></li>
                                            <!--<li class="nav-item"><a href="/admin/volunteer-manage" class="nav-link">봉사 관리</a></li>-->
                                            <li class="nav-item"><a href="/admin/approve" class="nav-link">봉사 승인</a></li>
                                            <li class="nav-item"><a href="/admin/contact-manage" class="nav-link">Contact</a></li>
                                            <li class="nav-item"><a href="/admin/join-manage" class="nav-link">Join</a></li>
                                            <li class="nav-item"><a href="/admin/question" class="nav-link">Question</a></li>
                                        </ul>
                                        <!-- main-menu end -->
                                    </div>
                                </nav>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a href="/admin/usermanage">사용자 관리</a></li>
                <li class="breadcrumb-item active">사용자 상세 정보</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">
                <!--modal-->
                <div class="modal fade" id="lock" tabindex="-1" role="dialog" aria-labelledby="lockModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" id = "lock_modal_header">
                                <!--<h4 class="modal-title" id="dropOutModalLabel">사용자 ID</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                            </div>
                            <div class="modal-body" id = "lock_modal_body">
                                <!--<p>
                                    사용 중지 처리 완료
                                </p>-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="unlock" tabindex="-1" role="dialog" aria-labelledby="unlockModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" id = "unlock_modal_header">

                                <!--<h4 class="modal-title" id="dropOutModalLabel">사용자 ID</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                            </div>
                            <div class="modal-body" id = "unlock_modal_body">
                                <!--<p>
                                    사용 중지 해제 완료
                                </p>-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--modal end-->
                <!-- main start -->
                <!-- ================ -->
                <div class="main col-lg-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">"<%= result.userInfo[0].name%>"님 상세 정보</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->

                    <!-- blogpost start -->
                    <div class="row grid-space-10">
                        <div class="col-4 col-sm-4 col-mb-4 col-lg-4 col-xl-4">
                            <div class="overlay-container">
                                <img src="http://210.89.191.125/photo/<%=result.userInfo[0].profileImage%>">
                                <a class="overlay-link" href="http://210.89.191.125/photo/<%=result.userInfo[0].profileImage%>"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-mb-6 col-lg-6 col-xl-6">
                            <h2 class="mt-4">사용자 기본 정보</h2>
                            <div class="separator-2"></div>
                            <div class="blogpost-content">
                                <p>
                                <ul>
                                    <li>이름 : <%=result.userInfo[0].name%></li>
                                    <li>전화번호 : <%=result.userInfo[0].userId%></li>
                                    <% if(result.userInfo[0].userType=='helper'){%>
                                    <li>사용자 타입 : 봉사자</li>
                                    <li>나이 : <%=result.userInfo[0].age%>세</li>
                                    <li>가입일 : <%=moment(result.userInfo[0].createdAt).format( 'YYYY년 MM월 DD일 HH시 mm분')%></li>
                                    <li>총 자원봉사 횟수 : <%=result.userInfo[0].volunteerNumber%>회</li>
                                    <li>총 봉사 시간 : <%=result.userInfo[0].admitTime%>시간</li>
                                    <%}else{%>
                                    <li>사용자 타입 : 어르신</li>
                                    <li>나이 : <%=result.userInfo[0].age%>세</li>
                                    <li>성별 : <%=result.userInfo[0].gender%></li>
                                    <li>가입일 : <%=moment(result.userInfo[0].createdAt).format( 'YYYY년 MM월 DD일 HH시 mm분')%></li>
                                    <li>총 서비스 이용 횟수 : <%=result.userInfo[0].volunteerNumber%>회</li>
                                    <%}%>
                                    <li>총 평점 : <% for(var j=1;j<=result.userInfo[0].userFeedbackScore;j++){%>
                                        <i class="fa fa-star"></i>
                                        <% }for(var j=1;j<6-result.userInfo[0].userFeedbackScore;j++){%>
                                        <i class="fa fa-star-o"></i>
                                        <%}%></li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% if(result.userInfo[0].pauseStatus=='available'){%>
                    <button type="button" class="margin-clear btn btn-outline-dark btn-animated pull-right" data-toggle="modal" data-target="#lock" data-userid ='<%=result.userInfo[0].userId%>'>이용 중지<i class="fa fa-user-times"></i></button>
                    <%}else{%>
                    <button type="button" class="margin-clear btn btn-outline-dark btn-animated pull-right" data-toggle="modal" data-target="#unlock" data-userid ='<%=result.userInfo[0].userId%>'>이용 중지 해제<i class="fa fa-user"></i></button>
                    <%}%>
                    <footer class="clearfix">
                    </footer>
                    <br>
                    <br>
                    <div class="row grid-space-10">
                        <%if(result.userInfo[0].userType=='helper'){%>
                        <h2>최근 봉사 상세내역</h2>
                        <%}else{%>
                        <h2>최근 도움 요청 상세내역</h2>
                        <%}%>
                        <div class="col-sm-12">
                            <%if(result.userInfo[0].userType=='helper'){%>
                            <h3 class="mt-3">최근 봉사 빈도</h3>
                            <%}else{%>
                            <h3 class="mt-3">최근 도움 요청 빈도</h3>
                            <%}%>
                            <div class="separator-2"></div>
                            <ul class="nav nav-tabs style-4" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tab1" role="tab" data-toggle="tab">최근 1주일</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab2" role="tab" data-toggle="tab">최근 1개월</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab3" role="tab" data-toggle="tab">최근 3개월</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab4" role="tab" data-toggle="tab">최근 6개월</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" role="tabpanel" id="tab1">
                                    <div class="separator-2"></div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="weekly-volunteer-graph"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab2">
                                    <div class="separator-2"></div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="1month-volunteer-graph"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab3">
                                    <div class="separator-2"></div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="3month-volunteer-graph"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab4">
                                    <div class="separator-2"></div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="6month-volunteer-graph"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                        <div class="col-sm-12">
                            <%if(result.userInfo[0].userType=='helper'){%>
                            <h3 class="mt-3">최근 봉사 위치(최근 10개)</h3>
                            <%}else{%>
                            <h3 class="mt-3">최근 도움 요청 위치(최근 10개)</h3>
                            <%}%>
                            <div class="separator-2"></div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="map-canvas" onload="initMap()"></div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                    <footer class="clearfix">
                    </footer>

                    <!-- blogpost start -->
                    <article class="blogpost">
                        <%if(result.userInfo[0].userType=='helper'){%>
                        <h2>평점 및 봉사 종류 선호도</h2>
                        <%}else{%>
                        <h2>평점 및 도움 종류 선호도</h2>
                        <%}%>
                        <div class="separator-2"></div>
                        <div class="blogpost-content">
                            <div class="row grid-space-12">
                                <div class="col-sm-6">
                                    <h3 class="mt-3">평점 분포</h3>
                                    <canvas class="" id="score-graph" height="230"></canvas>
                                </div>
                                <div class="col-sm-6">
                                    <%if(result.userInfo[0].userType=='helper'){%>
                                    <h3 class="mt-3">봉사 종류 선호도</h3>
                                    <%}else{%>
                                    <h3 class="mt-3">도움 종류 선호도</h3>
                                    <%}%>
                                    <canvas id="volunteer-type-graph" height="230"></canvas>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- blogpost end -->
                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">최근 가입한 사용자들</h3>
                            <%for(var i=0; i<result.newUser.length;i++){%>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="http://210.89.191.125/photo/<%=result.newUser[i].profileImage%>" alt="blog-thumb">
                                        <a href="/admin/user-detail/<%=result.newUser[i].userId%>" class="overlay-link small"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="/admin/user-detail/<%=result.newUser[i].userId%>"><%=result.newUser[i].name%></a></h6>
                                    <p class="small margin-clear">
                                        전화번호 : <%=result.newUser[i].userId%><br>
                                        가입일 : <%=moment(result.newUser[i].createdAt).format('YYYY.MM.DD')%>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <%}%>
                        </div>
                        <div class="block clearfix">
                            <h3 class="title">Blackist</h3>
                            <div class="separator-2"></div>
                            <%for(var i=0; i<result.blacklistUser.length;i++){%>
                            <div class="media margin-clear">
                                <div class="d-flex pr-2">
                                    <div class="overlay-container">
                                        <img class="media-object" src="http://210.89.191.125/photo/<%=result.blacklistUser[i].profileImage%>" alt="blog-thumb">
                                        <a href="/admin/user-detail/<%=result.blacklistUser[i].userId%>" class="overlay-link small"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="/admin/user-detail/<%=result.blacklistUser[i].userId%>"><%=result.blacklistUser[i].name%></a></h6>
                                    <p class="small margin-clear">
                                        전화번호: <%=result.blacklistUser[i].userId%><br>
                                        평점 :
                                        <% for(var j=1;j<=result.blacklistUser[i].userFeedbackScore;j++){%>
                                        <i class="fa fa-star"></i>
                                        <% }for(var j=1;j<6-result.blacklistUser[i].userFeedbackScore;j++){%>
                                        <i class="fa fa-star-o"></i>
                                        <%}%>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <%}%>
                        </div>
                        <div class="block clearfix">
                            <form role="search">
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <i class="fa fa-search form-control-feedback"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
    <!-- section start -->
    <!-- ================ -->

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs style-4" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#tab5" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-1"></i>
                                <%if(result.userInfo[0].userType=='helper'){%>
                                봉사 내역
                                <%}else{%>
                                도움 요청 내역
                                <%}%>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab6" role="tab" data-toggle="tab"><i class="fa fa-star pr-1"></i>사용자가 받은 피드백 모아보기</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content padding-top-clear padding-bottom-clear">
                        <div class="tab-pane active" role="tabpanel" id="tab5">
                            <div class="comments margin-clear space-top">
                                <%if(result.volList.length==0){%>
                                <p>봉사 내역이 없습니다.</p>
                                <%}%>
                                <% for(var i=0; i<result.volList.length;i++){%>
                                <!-- comment start -->
                                <div class="comment clearfix">
                                    <header>
                                        <h4><%if(result.volList[i].type=='outside'){%>
                                            외출 봉사 <i class="fa fa-street-view"></i>
                                            <%}else if(result.volList[i].type=='education'){%>
                                            교육 봉사 <i class="fa fa-pencil-square-o"></i>
                                            <%}else if(result.volList[i].type=='talk'){%>
                                            말동무 봉사 <i class="fa fa-comments-o"></i>
                                            <%}else{%>
                                            가사 봉사 <i class="fa fa-home"></i>
                                            <%}%>
                                        </h4>
                                        <div class="comment-meta">
                                            <% for(var j=1;j<=result.userInfo[0].userFeedbackScore;j++){%>
                                            <i class="fa fa-star"></i>
                                            <% }for(var j=1;j<6-result.userInfo[0].userFeedbackScore;j++){%>
                                            <i class="fa fa-star-o"></i>
                                            <%}%>
                                        </div>
                                    </header>
                                    <div class="comment-content">
                                        <div class="comment-body clearfix">
                                            <p>
                                                봉사 매칭 상태 : <% if(result.volList[i].matchingStatus==0){%>
                                                도움 요청 중
                                                <%}else if(result.volList[i].matchingStatus==1){%>
                                                매칭 대기 중
                                                <%}else if(result.volList[i].matchingStatus==2){%>
                                                <%if(result.volList[i].startStatus==0){%>
                                                봉사 시작 전<br>
                                                <%}else if(result.volList[i].startStatus==1){%>
                                                봉사 중<br>
                                                <%}else if(result.volList[i].startStatus==2){%>
                                                봉사 완료<br>
                                                <%if(result.volList[i].acceptStatus=="wait"){%>
                                                승인 여부 :승인 대기 중
                                                <%}else if(result.volList[i].acceptStatus=="accept"){%>
                                                승인 여부 : 봉사 승인 완료
                                                <%}else if(result.volList[i].acceptStatus=="reject"){%>
                                                승인 여부 : 봉사 승인 거부
                                                <%}%>
                                                <%}%>
                                                <%}%>
                                            </p>
                                            <a href="/admin/volunteer-detail/<%=result.volList[i].volunteerId%>" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> 해당 봉사 상세보기로 이동</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- comment end -->
                                <%}%>
                            </div>
                            <!-- comments end -->
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab6">
                            <!-- comments start -->
                            <div class="comments margin-clear space-top">
                                <%if(result.volList.length==0){%>
                                <p>받은 피드백이 없습니다.</p>
                                <%}%>
                                <% for(var i=0; i<result.volList.length;i++){%>
                                <!-- comment start -->
                                <div class="comment clearfix">
                                    <header>
                                        <h4>
                                            <%if(result.volList[i].type=='outside'){%>
                                            외출 봉사 <i class="fa fa-street-view"></i>
                                            <%}else if(result.volList[i].type=='education'){%>
                                            교육 봉사 <i class="fa fa-pencil-square-o"></i>
                                            <%}else if(result.volList[i].type=='talk'){%>
                                            말동무 봉사 <i class="fa fa-comments-o"></i>
                                            <%}else{%>
                                            가사 봉사 <i class="fa fa-home"></i>
                                            <%}%>
                                        </h4>
                                        <div class="comment-meta">
                                            <%if(result.userInfo[0].userType=='helpee'){%>
                                            <% for(var j=1;j<=result.volList[i].helperScore;j++){%>
                                            <i class="fa fa-star"></i>
                                            <% }for(var j=1;j<6-result.volList[i].helperScore;j++){%>
                                            <i class="fa fa-star-o"></i>
                                            <%}%>
                                            <%}else{%>
                                            <% for(var j=1;j<=result.volList[i].helpeeScore;j++){%>
                                            <i class="fa fa-star"></i>
                                            <% }for(var j=1;j<6-result.volList[i].helpeeScore;j++){%>
                                            <i class="fa fa-star-o"></i>
                                            <%}%>
                                            <%}%>
                                        </div>
                                    </header>
                                    <div class="comment-content">
                                        <div class="comment-body clearfix">
                                            <%if(result.userInfo[0].userType=='helpee'){%>
                                            <p><%= result.volList[i].helperFeedbackContent%></p>
                                            <%}else{%>
                                            <p><%= result.volList[i].helpeeFeedbackContent%></p>
                                            <%}%>
                                            <a href="/admin/volunteer-detail/<%=result.volList[i].volunteerId%>" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> 해당 봉사 상세보기로 이동</a>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- section end -->
    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <footer id="footer" class="clearfix dark">
        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Copyright © 2018 AJOU UNIVERSITY SW. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->
    <% var userId = result.userInfo[0].userId; %>
    <% var userType = result.userInfo[0].userType; %>
</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script src="/template/plugins/jquery.min.js"></script>
<script src="/template/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Isotope javascript -->
<script src="/template/plugins/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/template/plugins/isotope/isotope.pkgd.min.js"></script>
<!-- Magnific Popup javascript -->
<script src="/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Appear javascript -->
<script src="/template/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/template/plugins/waypoints/sticky.min.js"></script>
<!-- Count To javascript -->
<script src="/template/plugins/countTo/jquery.countTo.js"></script>
<!-- Slick carousel javascript -->
<script src="/template/plugins/slick/slick.min.js"></script>
<!-- Initialization of Plugins -->
<script src="/template/js/template.js"></script>
<!-- Custom Scripts -->
<script src="/template/js/custom.js"></script>
<script src="/util/AjaxUtil.js"></script>
<script src="/template/plugins/charts/Chart.js"></script>
<script type="text/javascript">

    function refresh(){
        parent.location.reload();
    }

    $('#lock').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var userId = button.data('userid');

        AjaxHandler.put('/admin/user/pause',{"userId" : userId},function (result) {
            $("#lock_modal_header").append('<h4 class="modal-title" id="lockModalLabel">사용자 이용 중지</h4><button type="button" onclick="refresh()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
            $("#lock_modal_body").append('<p>사용 중지 처리완료</p>');
        });
    });

    $('#unlock').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var userId = button.data('userid');

        AjaxHandler.put('/admin/user/release', {"userId": userId}, function (result) {
            $("#unlock_modal_header").append('<h4 class="modal-title" id="unlockdropOuModalLabel">사용자 이용 중지 해제</h4><button type="button" onclick="refresh()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
            $("#unlock_modal_body").append('<p>사용 중지 해제 완료</p>');
        });
    });

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    var userId = "<%= userId %>";
    var userType = "<%= userType %>";
    var week=7;
    var month=30;

    /***********************최근 봉사 빈도 그래프 시작********************************************/
    AjaxHandler.get("/api/user/detail/volunteer-count/weekly/"+userId, function (result) {
        var lineChartData;

        if(userType=="helpee"){
            lineChartData = renderMultipleChart_helpee(result.standBy, result.match, result.matched,week);
            drawMultipleChart(lineChartData, 'weekly-volunteer-graph', '최근 1주일 도움 요청 빈도');
        }
        else{
            lineChartData = renderMultipleChart_helper(result.match, result.matched,week);
            drawMultipleChart(lineChartData, 'weekly-volunteer-graph', '최근 1주일 봉사 빈도');
        }
    });

    AjaxHandler.get("/api/user/detail/volunteer-count/monthly?userId="+userId+"&&interval=1", function (result) {
        var lineChartData;
        if(userType=="helpee"){
            lineChartData = renderMultipleChart_helpee(result.standBy, result.match, result.matched, month);
            drawMultipleChart(lineChartData, '1month-volunteer-graph', '최근 1개월 도움 요청 빈도');
        }
        else{
            lineChartData = renderMultipleChart_helper(result.match, result.matched, month);
            drawMultipleChart(lineChartData, '1month-volunteer-graph', '최근 1개월 봉사 빈도');
        }
    });
    AjaxHandler.get("/api/user/detail/volunteer-count/monthly?userId="+userId+"&&interval=2", function (result) {
        var lineChartData;
        if(userType=="helpee"){
            lineChartData = renderMultipleChart_helpee(result.standBy, result.match, result.matched, month*3);
            drawMultipleChart(lineChartData, '3month-volunteer-graph', '최근 3개월 도움 요청 빈도');
        }
        else{
            lineChartData = renderMultipleChart_helper(result.match, result.matched, month*3);
            drawMultipleChart(lineChartData, '3month-volunteer-graph', '최근 3개월 봉사 빈도');
        }
    });
    AjaxHandler.get("/api/user/detail/volunteer-count/monthly?userId="+userId+"&&interval=3", function (result) {
        var lineChartData;
        if(userType=="helpee"){
            lineChartData = renderMultipleChart_helpee(result.standBy, result.match, result.matched, month*6);
            drawMultipleChart(lineChartData, '6month-volunteer-graph', '최근 6개월 도움 요청 빈도');
        }
        else{
            lineChartData = renderMultipleChart_helper(result.match, result.matched, month*6);
            drawMultipleChart(lineChartData, '6month-volunteer-graph', '최근 6개월 봉사 빈도');
        }
    });
    /***********************최근 봉사 빈도 그래프 끝********************************************/


    /***********************사용자 평점 그래프 시작*******************************************/
    AjaxHandler.get("/api/user/detail/score-detail/"+userId, function (result) {
        renderFeedbackChart('score-graph', result.userScore);
    });
    /***********************사용자 평점 그래프 끝********************************************/


    /***********************사용자 선호 봉사 타입 그래프 시작*******************************************/
    AjaxHandler.get("/api/user/detail/type/"+userId, function (result) {
        renderTypeChart('volunteer-type-graph', result.volunteerType);
    });
    /***********************사용자 선호 봉사 타입 그래프 끝********************************************/


    function labelAndDataMatching(result, duration){

        var label = new Array();
        var data = new Array();
        for (var indexI = 0; indexI < result.length; indexI++) {
            label.push(result[indexI].w_date);
            data.push(result[indexI].count);
        }

        var chartData = createDefaultChartData(duration);
        for (var indexI = 0; indexI < label.length; indexI++) {
            for (var indexJ = 0; indexJ < chartData.label.length; indexJ++) {
                var defaultDate = chartData.label[indexJ];
                var userDate = label[indexI];
                if (defaultDate === userDate) {
                    chartData.data[indexJ] = data[indexI];
                    continue;
                }
            }
        }
        return chartData;
    }

    function drawMultipleChart(lineChartData, id, title){
        var ctx = document.getElementById(id).getContext('2d');
        Chart.Line(ctx, {
            data: lineChartData,
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                    display: true,
                    text: title
                }
            }
        });
    }

    function renderMultipleChart_helpee(standBy, match, matched, duration) {
        standBy = labelAndDataMatching(standBy, duration);
        match = labelAndDataMatching(match, duration);
        matched = labelAndDataMatching(matched, duration);

        var lineChartData = {
            labels: standBy.label,
            datasets: [{
                label: '도움 요청',
                borderColor: window.chartColors.yellow,
                backgroundColor: window.chartColors.yellow,
                fill: false,
                data: standBy.data
            }, {
                label: '매칭 대기',
                borderColor: window.chartColors.blue,
                backgroundColor: window.chartColors.blue,
                fill: false,
                data: match.data
            }, {
                label: '매칭 완료',
                borderColor: window.chartColors.red,
                backgroundColor: window.chartColors.red,
                fill: false,
                data: matched.data
            }]
        };
        return lineChartData;
    }


    function renderMultipleChart_helper(match, matched, duration) {
        match=labelAndDataMatching(match, duration);
        matched=labelAndDataMatching(matched, duration);

        var lineChartData = {
            labels: match.label,
            datasets: [{
                label: '봉사 신청',
                borderColor: window.chartColors.blue,
                backgroundColor: window.chartColors.blue,
                fill: false,
                data: match.data
            }, {
                label: '매칭 완료',
                borderColor: window.chartColors.red,
                backgroundColor: window.chartColors.red,
                fill: false,
                data: matched.data
            }]
        };
        return lineChartData;
    }

    function renderTrafficChart(title, selector, result, color,duration) {
        var label = new Array();
        var data = new Array();

        for (var indexI = 0; indexI < result.length; indexI++) {
            label.push(result[indexI].date);
            data.push(result[indexI].count);
        }
        renderLineChartWithData(title, selector, label, data, color, duration);
    }


    function renderFeedbackChart(selector, result) {
        // Data for pie chart
        var label = new Array();
        var data = new Array();

        for (var indexI = 0; indexI < result.length; indexI++) {
            label.push(result[indexI].score + '점');
            data.push(result[indexI].count);
        }

        renderPieChart(selector, label, data);
    }

    function renderTypeChart(selector, result) {
        // Data for pie chart
        var label = new Array();
        var data = new Array();

        for (var indexI = 0; indexI < result.length; indexI++) {
            if(result[indexI].type=='outside'){
                label.push('외출');
            }else if(result[indexI].type=='education'){
                label.push('교육');
            }else if(result[indexI].type=='talk'){
                label.push('말동무');
            }else{
                label.push('가사');
            }
            data.push(result[indexI].count);
        }

        renderPieChart(selector, label, data);
    }

    function renderPieChart(id, label, data) {
        var pieData = {
            labels: label,
            datasets: [
                {
                    data: data,
                    backgroundColor: [
                        chartColors.blue,
                        chartColors.red,
                        chartColors.green,
                        chartColors.orange,
                        chartColors.yellow
                    ],
                    hoverBackgroundColor: [
                        chartColors.blue,
                        chartColors.red,
                        chartColors.green,
                        chartColors.orange,
                        chartColors.yellow
                    ]
                }]
        };

        var ctx = document.getElementById(id).getContext("2d");
        var PieChart = new Chart(ctx, {
            type: 'pie',
            data: pieData
        });
    }

    function renderLineChartWithData(title, selector, label, data, color,duration) {
        var chartData = createDefaultChartData(duration);

        for (var indexI = 0; indexI < label.length; indexI++) {
            for (var indexJ = 0; indexJ < chartData.label.length; indexJ++) {
                var defaultDate = chartData.label[indexJ];
                var userDate = label[indexI];

                if (defaultDate === userDate) {
                    chartData.data[indexJ] = data[indexI];
                    continue;
                }
            }
        }

        var lineChartData = {
            labels: chartData.label,
            datasets: [
                {
                    label: title,
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: color,
                    borderColor: color,
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: chartData.data,
                    spanGaps: false,
                }
            ]
        };

        renderLineChart(selector, lineChartData);
    }

    function renderLineChart(id, data) {
        // Line Charts Initialization
        var ctx = document.getElementById(id).getContext("2d");
        var LineChart = new Chart(ctx, {
            type: 'line',
            data: data,
            responsive: true,
            bezierCurve: false
        });

    }

    function createDefaultChartData(duration) {
        var result = {
            label: new Array(),
            data: new Array()
        };

        var label = getLastDates(duration);

        for (var indexI = 0; indexI < label.length; indexI++) {
            result.label.push(label[indexI]);
            result.data.push(0);
        }

        return result;
    }

    function getLastDates(duration) {
        var duration = duration;
        var result = new Array();
        // Data for line charts
        var now = new Date();
        now.setDate(now.getDate() - duration);

        for (var indexI = 0; indexI < duration; indexI++) {
            now.setDate(now.getDate() + 1);
            var currentDate=now.getDate();
            if(currentDate <10){
                currentDate='0'+currentDate;
            }
            var currentMonth = now.getMonth() + 1;

            if (currentMonth < 10) {
                currentMonth = '0' + (now.getMonth() + 1);
            }
            result.push(currentMonth + '-' +currentDate);
        }
        return result;
    }


    function initMap() {
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 12,
            center: {lat: 37.5662952, lng: 126.97794509999994}
        });
        var url='/api/user/detail/recent/'+userId;
        var icon_base='http://maps.google.com/mapfiles/ms/micons/';
        AjaxHandler.get(url, function (result) {
            if (result.length > 0) {
                var locationData = new Array();
                for (var indexI =0; indexI <  result.length; indexI++) {
                    var vol_location = result[indexI];
                    if(vol_location.matchingStatus==0){
                        locationData.push({
                            location : {
                                lat : vol_location.latitude ,
                                lng : vol_location.longitude
                            } ,
                            message : '<h4>매칭대기 </h4><br> 어르신 전화번호 : ' + vol_location.helpeeId + '<br> 요청 메세지 : ' +  vol_location.content,
                            icon : icon_base+'red-pushpin.png'
                        });
                    }else if(vol_location.matchingStatus==1){
                        locationData.push({
                            location : {
                                lat : vol_location.latitude ,
                                lng : vol_location.longitude
                            } ,
                            message : '<h4>매칭중</h4><br> 어르신 전화번호 : ' + vol_location.helpeeId + '<br> 봉사자 전화번호 : ' + vol_location.helperId + '<br> 요청 메세지 : ' +  vol_location.content,
                            icon : icon_base+'pink-pushpin.png'
                        });
                    }else if(vol_location.matchingStatus==2){
                        locationData.push({
                            location : {
                                lat : vol_location.latitude ,
                                lng : vol_location.longitude
                            } ,
                            message : '<h4>매칭완료</h4><br> 어르신 전화번호 : ' + vol_location.helpeeId + '<br>봉사자 전화번호 : ' + vol_location.helperId + '<br> 요청 메세지 : ' +  vol_location.content,
                            icon :icon_base+'blue-pushpin.png'
                        });
                    }

                }
                renderMap(map , locationData);
            }
        });


    };

    function renderMap(map , dataList) {
        var latlngBounds = new google.maps.LatLngBounds();

        for (var index = 0; index <  dataList.length; index++) {
            addMarker(dataList[index].location, index, map , dataList[index].message, dataList[index].icon);
            latlngBounds.extend(dataList[index].location);
        }

        map.setCenter(latlngBounds.getCenter());

        if (dataList.length > 1) {
            map.fitBounds(latlngBounds);
        }
    }

    function addMarker(position, index, map , clickHtml,icon) {
        var marker = new google.maps.Marker({
            position: position,
            animation: google.maps.Animation.DROP,
            map: map,
            icon:icon
        });

        // process multiple info windows
        (function (marker, index) {
            // add click event
            google.maps.event.addListener(marker, 'click', function () {
                var infowindow = new google.maps.InfoWindow({
                    content: clickHtml
                });
                infowindow.open(map, marker);
            });
        })(marker, index);
        return marker;
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v-3.exp&key=AIzaSyDxOBACwViZBQrKqxL_iV2G3tDF5XnAhvg&callback=initMap">
</script>
</body>
</html>
