<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Together | User-manage</title>
    <meta name="description" content="Volunteer Matching">
    <meta name="author" content="author">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/template/images/favicon.ico">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/template/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/template/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/template/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/template/css/animations.css" rel="stylesheet">
    <link href="/template/plugins/slick/slick.css" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="/template/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="/template/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
    <link href="/template/css/skins/light_blue.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="/template/css/custom.css" rel="stylesheet">

</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="">

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
    <!-- header-container start -->
    <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second"  class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown text-right">
                                <div class="btn-group">
                                    <a href="/admin/logout" class="btn btn-default btn-sm"><i class="fa fa-lock pr-2"></i>Log-out</a>
                                </div>
                            </div>
                            <!--  header top dropdowns end -->
                        </div>
                        <!-- header-top-second end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <!-- header-first start -->
                        <!-- ================ -->
                        <div class="header-first clearfix">

                            <!-- logo -->
                            <div id="logo" class="logo-font">
                                <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                            </div>

                            <!-- name-and-slogan -->
                            <div class="site-slogan">
                                Volunteer-Matching Service
                            </div>

                        </div>
                        <!-- header-first end -->

                    </div>
                    <div class="col-lg-9 ml-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation main-navigation--mega-menu  animated">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-brand clearfix hidden-lg-up">

                                        <!-- logo -->
                                        <div id="logo-mobile" class="logo">
                                            <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                                        </div>

                                        <!-- name-and-slogan -->
                                        <div class="site-slogan">
                                            Volunteer-Matching Service
                                        </div>

                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse scrollspy" id="navbar-collapse-1">
                                        <!-- main-menu -->
                                        <ul class="navbar-nav ml-lg-auto">
                                            <li class="nav-item"><a href="/admin" class="nav-link">DashBoard</a></li>
                                            <li class="nav-item active"><a href="/admin/user-manage" class="nav-link">사용자 관리</a></li>
                                            <!--<li class="nav-item"><a href="/admin/volunteer-manage" class="nav-link">봉사 관리</a></li>-->
                                            <li class="nav-item"><a href="/admin/approve" class="nav-link">봉사 승인</a></li>
                                            <li class="nav-item"><a href="/admin/contact-manage" class="nav-link">Contact</a></li>
                                            <li class="nav-item"><a href="/admin/join-manage" class="nav-link">Join</a></li>
                                            <li class="nav-item"><a href="/admin/question" class="nav-link">Question</a></li>
                                        </ul>
                                        <!-- main-menu end -->
                                    </div>
                                </nav>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->

    <!-- section start -->
    <!-- ================ -->
    <div class="light-gray-bg section">
        <div class="container-fluid">
            <!-- filters start -->
            <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
                <form class="form-inline">
                    <div class="form-group ml-1">
                        <label>이름</label>
                        <input id="name_search_text" type="text" class="form-control" onkeyup="saveValue(this);">
                    </div>
                    <div class="form-group ml-1">
                        <label>전화번호</label>
                        <input id="id_search_text" type="text" class="form-control" onkeyup="saveValue(this);">
                    </div>
                </form>
            </div>
            <!-- filters end -->
        </div>
    </div>
    <!-- section end -->

    <!-- main-container start -->
    <!-- ================ -->
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <!--modal-->
                    <div class="modal fade" id="lock" tabindex="-1" role="dialog" aria-labelledby="lockModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" id = "lock_modal_header">
                                    <!--<h4 class="modal-title" id="dropOutModalLabel">사용자 ID</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                                </div>
                                <div class="modal-body" id = "lock_modal_body">
                                    <!--<p>
                                        사용 중지 처리 완료
                                    </p>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="unlock" tabindex="-1" role="dialog" aria-labelledby="unlockModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" id = "unlock_modal_header">

                                    <!--<h4 class="modal-title" id="dropOutModalLabel">사용자 ID</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                                </div>
                                <div class="modal-body" id = "unlock_modal_body">
                                    <!--<p>
                                        사용 중지 해제 완료
                                    </p>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal end-->
                    <% for (var i=0;i<userList.length;i++){%>
                    <div class="image-box style-3-b">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
                                <div class="overlay-container">
                                    <img src="http://210.89.191.125/photo/<%=userList[i].profileImage%>">
                                    <a class="overlay-link popup-img-single" href="http://210.89.191.125/photo/<%=userList[i].profileImage%>"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                            <div class="col-8 col-sm-8 col-md-9 col-lg-9 col-xl-9">
                                <div class="body" id="list_body0">
                                    <h3 class="title name_header"><%=userList[i].name%></h3>
                                    <p class="small mb-10">
                                        <% for(var j=1;j<=userList[i].userFeedbackScore;j++){%>
                                        <i class="fa fa-star"></i>
                                        <% }for(var j=1;j<6-userList[i].userFeedbackScore;j++){%>
                                        <i class="fa fa-star-o"></i>
                                        <%}%>
                                        <a href="/admin/user-detail/<%=userList[i].userId%>" class="btn-sm-link">
                                            <i class="fa fa-search">상세보기</i>
                                        </a>
                                    </p>
                                    <div class="separator-2"></div>
                                    <div class="mb-10">
                                        <p>
                                            <span class="phoneNumber">전화번호 : <%=userList[i].userId%></span><br>
                                            사용자 타입 : <% if(userList[i].userType =='helpee'){ %>
                                            어르신
                                            <%}else if (userList[i].userType=='helper'){%>
                                            봉사자
                                            <%}%>
                                        </p>
                                        <% if(userList[i].pauseStatus=='available'){%>
                                        <button type="button" class="margin-clear btn btn-outline-dark btn-animated pull-right" data-toggle="modal" data-target="#lock" data-userid ='<%=userList[i].userId%>'>이용 중지<i class="fa fa-user-times"></i></button>
                                        <%}else{%>
                                        <button type="button" class="margin-clear btn btn-outline-dark btn-animated pull-right" data-toggle="modal" data-target="#unlock" data-userid ='<%=userList[i].userId%>'>이용 중지 해제<i class="fa fa-user"></i></button>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>

    <!-- main-container end -->
    <footer id="footer" class="clearfix dark">


        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Copyright © 2018 AJOU UNIVERSITY SW. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script src="/template/plugins/jquery.min.js"></script>
<script src="/template/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Isotope javascript -->
<script src="/template/plugins/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/template/plugins/isotope/isotope.pkgd.min.js"></script>
<!-- Magnific Popup javascript -->
<script src="/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Appear javascript -->
<script src="/template/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/template/plugins/waypoints/sticky.min.js"></script>
<!-- Count To javascript -->
<script src="/template/plugins/countTo/jquery.countTo.js"></script>
<!-- Slick carousel javascript -->
<script src="/template/plugins/slick/slick.min.js"></script>
<!-- Initialization of Plugins -->
<script src="/template/js/template.js"></script>
<!-- Pace javascript -->
<script type="text/javascript" src="/template/plugins/pace/pace.min.js"></script>
<script src="/util/AjaxUtil.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        document.getElementById("name_search_text").value=getSavedValue("name_search_text");
        document.getElementById("id_search_text").value=getSavedValue("id_search_text");
        filter();
    });

    $("#name_search_text").keyup(function() {
        filter();
    });
    $("#id_search_text").keyup(function() {
        filter();
    });

    function saveValue(e){
        var id = e.id;
        var val = e.value;
        localStorage.setItem(id, val);
    }

    function getSavedValue(v){
        if (localStorage.getItem(v) === null) {
         return "";
        }
        return localStorage.getItem(v);
    }

    function filter() {
        var name= $("#name_search_text").val();
        var id= $("#id_search_text").val();
        $(".image-box").show();
        //$('.userId_filter:not(:contains('+userText+'))').parent().parent().parent().parent().parent().parent().hide();
        $(".name_header:not(:contains('" + name + "'))").parent().parent().parent().parent().hide();
        $(".phoneNumber:not(:contains('" + id + "'))").parent().parent().parent().parent().parent().parent().hide();
        //$(temp).parent().parent().parent().parent().show();
    }

    function refresh(){
        parent.location.reload();
    }

    $('#lock').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var userId = button.data('userid');

        AjaxHandler.put('/admin/user/pause',{"userId" : userId},function (result) {
            $("#lock_modal_header").append('<h4 class="modal-title" id="lockModalLabel">사용자 이용 중지</h4><button type="button" onclick="refresh()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
            $("#lock_modal_body").append('<p>사용 중지 처리완료</p>');
        });
    });

    $('#unlock').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var userId = button.data('userid');

        AjaxHandler.put('/admin/user/release', {"userId": userId}, function (result) {
            $("#unlock_modal_header").append('<h4 class="modal-title" id="unlockdropOuModalLabel">사용자 이용 중지 해제</h4><button type="button" onclick="refresh()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
            $("#unlock_modal_body").append('<p>사용 중지 해제 완료</p>');
        });
    });
</script>

</body>
</html>
