<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Together | volunteer</title>
    <meta name="description" content="Volunteer Matching">
    <meta name="author" content="author">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/template/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/template/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/template/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/template/css/animations.css" rel="stylesheet">
    <link href="/template/plugins/slick/slick.css" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="/template/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="/template/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
    <link href="/template/css/skins/light_blue.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="/template/css/custom.css" rel="stylesheet">

</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="">

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
    <!-- header-container start -->
    <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second"  class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown text-right">
                                <div class="btn-group">
                                    <a href="/admin/logout" class="btn btn-default btn-sm"><i class="fa fa-lock pr-2"></i>Log-out</a>
                                </div>
                            </div>
                            <!--  header top dropdowns end -->
                        </div>
                        <!-- header-top-second end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <!-- header-first start -->
                        <!-- ================ -->
                        <div class="header-first clearfix">

                            <!-- logo -->
                            <div id="logo" class="logo-font">
                                <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                            </div>

                            <!-- name-and-slogan -->
                            <div class="site-slogan">
                                Volunteer-Matching Service
                            </div>

                        </div>
                        <!-- header-first end -->

                    </div>
                    <div class="col-lg-9 ml-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation main-navigation--mega-menu  animated">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-brand clearfix hidden-lg-up">

                                        <!-- logo -->
                                        <div id="logo-mobile" class="logo">
                                            <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                                        </div>

                                        <!-- name-and-slogan -->
                                        <div class="site-slogan">
                                            Volunteer-Matching Service
                                        </div>

                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse scrollspy" id="navbar-collapse-1">
                                        <!-- main-menu -->
                                        <ul class="navbar-nav ml-lg-auto">
                                            <li class="nav-item"><a href="/admin" class="nav-link">DashBoard</a></li>
                                            <li class="nav-item"><a href="/admin/user-manage" class="nav-link">사용자 관리</a></li>
                                            <!--<li class="nav-item"><a href="/admin/volunteer-manage" class="nav-link">봉사 관리</a></li>-->
                                            <li class="nav-item active"><a href="/admin/approve" class="nav-link">봉사 승인</a></li>
                                            <li class="nav-item"><a href="/admin/contact-manage" class="nav-link">Contact</a></li>
                                            <li class="nav-item"><a href="/admin/join-manage" class="nav-link">Join</a></li>
                                            <li class="nav-item"><a href="/admin/question" class="nav-link">Question</a></li>
                                        </ul>
                                        <!-- main-menu end -->
                                    </div>
                                </nav>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a href="/admin/approve">봉사 승인</a></li>
                <li class="breadcrumb-item active">봉사 상세 정보</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <% var volStatus;%> <!--봉사 상태 정의-->
    <% if(result.volInfo[0].matchingStatus==0){volStatus='standBy';%><!--봉사 등록된 상태-->
    <% }else if(result.volInfo[0].matchingStatus==1){volStatus='matching';%><!--매칭 대기 상태-->
    <% }else if(result.volInfo[0].matchingStatus==2 && result.volInfo[0].startStatus==0){volStatus='beforeStart';%><!--매칭 완료되고 봉사 시작 전-->
    <% }else if(result.volInfo[0].matchingStatus==2 && result.volInfo[0].startStatus==1){volStatus='volunteerStart';%><!--봉사 시작해서 아직 하는 중-->
    <% }else if(result.volInfo[0].matchingStatus==2 && result.volInfo[0].startStatus==2){volStatus='volunteerEnd';%><!--봉사 완료-->
    <% }else {volStatus='errorState'}%>

    <% var volId = result.volInfo[0].volunteerId; %>
    <div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id = "approve_modal_header">
                     <h4 class="modal-title" id="approveModalLabel">봉사 번호 <%=result.volInfo[0].volunteerId%> 승인</h4>
                     <button type="button" class="close" onclick="refresh()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body" id = "approve_modal_body">
                     <!--<p>
                         승인되었습니다.
                     </p>-->
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id = "reject_modal_header">
                     <h4 class="modal-title" id="approveModalLabel">봉사 번호 <%=result.volInfo[0].volunteerId%> 승인 거부</h4>
                     <button type="button" class="close" onclick="refresh()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body" id = "reject_modal_body">
                     <!--<p>
                         승인 거부되었습니다.
                     </p>-->
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="wait" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id = "wait_modal_header">
                    <h4 class="modal-title" id="waitModalLabel">봉사 번호 <%=result.volInfo[0].volunteerId%> 승인/거부 취소</h4>
                    <button type="button" class="close" onclick="refresh()"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body" id = "wait_modal_body">
                    <!--<p>
                        승인 대기 상태로 전환되었습니다.
                    </p>-->
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <section class="main-container">

        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->
                <div class="main col-lg-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">봉사 번호 "<%=result.volInfo[0].volunteerId%>" 상세 정보</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class ='col-6 col-sm-6 col-ml-6 col-lg-6 col-xl-6' style="float:left">
                                <div class="listing-item white-bg  mb-20">
                                    <div class="overlay-container">
                                        <img class="img-thumbnail img-fluid" src="http://210.89.191.125/photo/<%=result.helpeeImg[0].profileImage%>" />
                                    </div>
                                    <div class="body">
                                        <h3 class="font-weight-bold"><a href="/admin/user-detail/<%=result.volInfo[0].helpeeId%>">어르신(<%=result.volInfo[0].helpeeId%>)</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class ='col-6 col-sm-6 col-ml-6 col-lg-6 col-xl-6' style="float:left">
                                <div class="listing-item white-bg  mb-20">
                                    <div class="overlay-container">
                                        <% if (volStatus=='standBy'){%>
                                        <img class ="img-thumbnail img-fluid" src="/template/images/product-1.jpg"/>
                                        <%}else if (volStatus=='matching'){%>
                                        <img class ="img-thumbnail img-fluid" src="http://210.89.191.125/photo/<%=result.helperImg[0].profileImage%>" style="opacity: 0.4;"/>
                                        <%}else{%>
                                        <img class ="img-thumbnail img-fluid" src="http://210.89.191.125/photo/<%=result.helperImg[0].profileImage%>"/>
                                        <%}%>
                                    </div>
                                    <div class="body">
                                        <% if (volStatus=='standBy'){%>
                                        <h3 class="font-weight-bold">아직 자원봉사자가 없습니다.</h3>
                                        <%}else if (volStatus=='matching'){%>
                                        <h3 class="font-weight-bold"><a href="/admin/user-detail/<%=result.volInfo[0].helperId%>">매칭 대기중 봉사자(<%=result.volInfo[0].helperId%>)</a></h3>
                                        <%}else{%>
                                        <h3 class="font-weight-bold"><a href="/admin/user-detail/<%=result.volInfo[0].helperId%>">봉사자(<%=result.volInfo[0].helperId%>)</a></h3>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pv-30">
                            <h2 class="mt-0">봉사 기본 정보</h2>
                            <div class="separator-2"></div>
                            <p>
                                <ul>
                                <li>어르신<i class="fa fa-phone"></i> : <a href="/admin/user-detail/<%=result.volInfo[0].helpeeId%>"><%=result.volInfo[0].helpeeId%></a></li>
                                    <% if(volStatus != 'standBy'){%>
                                <li>봉사자<i class="fa fa-phone"></i> : <a href="/admin/user-detail/<%=result.volInfo[0].helperId%>"><%=result.volInfo[0].helperId%></a></li>
                                    <%}%>
                                    <li>봉사 종류 :
                                        <%if(result.volInfo[0].type=='outside'){%>
                                        외출 봉사
                                        <%}else if(result.volInfo[0].type=='education'){%>
                                        교육 봉사
                                        <%}else if(result.volInfo[0].type=='talk'){%>
                                        말동무 봉사
                                        <%}else{%>
                                        가사 봉사
                                        <%}%>
                                    </li>
                                    <li>봉사 상세 내용 : <%=result.volInfo[0].content%></li>
                                    <li>봉사 날짜 : <%=moment(result.volInfo[0].date).format('YYYY년 MM월 DD일')%> <%=result.volInfo[0].time%></li>
                                    <li>봉사 현재 상태 : <% if(volStatus == 'standBy'){%>
                                        도움 요청 등록됨
                                        <%}else if (volStatus == 'matching'){%>
                                        매칭 수락 대기중
                                        <%}else if (volStatus == 'beforeStart'){%>
                                        봉사 시작 전
                                        <%}else if (volStatus == 'volunteerStart'){%>
                                        봉사 중
                                        <%}else if (volStatus == 'volunteerEnd'){%>
                                        봉사 종료
                                        <%}%></li>
                                </ul>
                            </p>
                            <hr class="mb-10">

                            <div class="p-20 clearfix">
                                <div class="product elements-list pull-right clearfix">
                                    <%if(result.volInfo[0].acceptStatus=='wait'){%>
                                    <button type="button" class="margin-clear btn btn-dark btn-animated" data-toggle="modal" data-target="#approve" data-volid = '<%=result.volInfo[0].volunteerId%>'>승인하기<i class="fa fa-times"></i></button>
                                    <button type="button" class="margin-clear btn btn-dark btn-animated" data-toggle="modal" data-target="#reject" data-volid = '<%=result.volInfo[0].volunteerId%>'>거부하기<i class="fa fa-check"></i></button>
                                    <%}else if(result.volInfo[0].acceptStatus=='accept'){%>
                                    <button type="button" class="margin-clear btn btn-dark btn-animated" data-toggle="modal" data-target="#wait" data-volid = '<%=result.volInfo[0].volunteerId%>'>승인 취소하기<i class="fa fa-reply"></i></button>
                                    <%}else if(result.volInfo[0].acceptStatus=='reject'){%>
                                    <button type="button" class="margin-clear btn btn-dark btn-animated" data-toggle="modal" data-target="#wait" data-volid = '<%=result.volInfo[0].volunteerId%>'>승인거부 취소하기<i class="fa fa-reply"></i></button>
                                    <%}else{%>
                                    <button type="button" class="margin-clear btn btn-dark btn-animated" data-toggle="modal" data-target="#wait" data-volid = '<%=result.volInfo[0].volunteerId%>'>봉사 등록 취소시키기<i class="fa fa-times"></i></button>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main end -->

                <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h4 class="title">오래된 승인 대기 list</h4>
                            <div class="separator-2"></div>
                            <%for(var i=0;i<result.oldVolunteer.length;i++){%>
                            <div class="media margin-clear">
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="/admin/volunteer-detail/<%=result.oldVolunteer[i].volunteerId%>">
                                            <%if(result.oldVolunteer[i].type=='outside'){%>
                                            외출 봉사 <i class="fa fa-street-view"></i>
                                            <%}else if(result.oldVolunteer[i].type=='education'){%>
                                            교육 봉사 <i class="fa fa-pencil-square-o"></i>
                                            <%}else if(result.oldVolunteer[i].type=='talk'){%>
                                            말동무 봉사 <i class="fa fa-comments-o"></i>
                                            <%}else{%>
                                            가사 봉사 <i class="fa fa-home"></i>
                                            <%}%></a>
                                    </h6>
                                    <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i><%=moment(result.oldVolunteer[i].endAt).format('YYYY.MM.DD')%></p>
                                </div>
                            </div>
                            <hr>
                            <%}%>
                        </div>
                        <div class="block clearfix">
                            <h4 class="title">최근 승인된 봉사 list</h4>
                            <div class="separator-2"></div>
                            <%for(var i=0;i<result.recentVolunteer.length;i++){%>
                            <div class="media margin-clear">
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="/admin/volunteer-detail/<%=result.recentVolunteer[i].volunteerId%>">
                                            <%if(result.recentVolunteer[i].type=='outside'){%>
                                            외출 봉사 <i class="fa fa-street-view"></i>
                                            <%}else if(result.recentVolunteer[i].type=='education'){%>
                                            교육 봉사 <i class="fa fa-pencil-square-o"></i>
                                            <%}else if(result.recentVolunteer[i].type=='talk'){%>
                                            말동무 봉사 <i class="fa fa-comments-o"></i>
                                            <%}else{%>
                                            가사 봉사 <i class="fa fa-home"></i>
                                            <%}%></a>
                                    </h6>
                                    <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i><%=moment(result.recentVolunteer[i].acceptAt).format('YYYY.MM.DD')%></p>
                                </div>
                            </div>
                            <hr>
                            <%}%>
                        </div>

                        <div class="block clearfix">
                            <form role="search">
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <i class="fa fa-search form-control-feedback"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </section>
    <!-- main-container end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs style-4" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#h2tab1" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-1"></i>봉사 상세 정보</a></li>
                        <% if(volStatus == 'volunteerEnd'){%>
                        <li class="nav-item"><a class="nav-link" href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-map-marker pr-1"></i>봉사 로그</a></li>
                        <li class="nav-item"><a class="nav-link" href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-1"></i>피드백</a></li>
                        <%}%>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content padding-top-clear padding-bottom-clear">
                        <div class="tab-pane show active" role="tabpanel" id="h2tab1">
                            <h4 class="space-top">봉사 상세 정보</h4>
                            <hr>
                            <dl class="row">
                                <dt class="col-sm-3">도움 요청 등록일</dt>
                                <dd class="col-sm-9"><%=moment(result.volInfo[0].createdAt).format('YYYY년 MM월 DD일 HH시 mm분')%></dd>

                                <%if (volStatus != 'standBy'){%>
                                <dt class="col-sm-3">봉사자 봉사 자원일</dt>
                                <dd class="col-sm-9"><%=moment(result.volInfo[0].matchAt).format('YYYY년 MM월 DD일 HH시 mm분')%></dd>
                                    <%if (volStatus != 'matching'){%>
                                    <dt class="col-sm-3">봉사 매칭 완료일</dt>
                                    <dd class="col-sm-9"><%=moment(result.volInfo[0].matchedAt).format('YYYY년 MM월 DD일 HH시 mm분')%></dd>
                                        <%if (volStatus != 'beforeStart'){%>
                                        <dt class="col-sm-3">봉사 시작</dt>
                                        <dd class="col-sm-9"><%=moment(result.volInfo[0].startAt).format('YYYY년 MM월 DD일 HH시 mm분')%></dd>
                                            <%if (volStatus != 'beforeStart'){%>
                                            <dt class="col-sm-3">총 봉사 시간</dt>
                                            <dd class="col-sm-9"><%=result.volInfo[0].realDuration%>시간</dd>
                                            <dt class="col-sm-3">봉사 종료</dt>
                                                <%if (volStatus == 'volunteerStart'){%>
                                                <dd class="col-sm-9">봉사 진행중입니다...</dd>
                                                <%}else{%>
                                                <dd class="col-sm-9"><%=moment(result.volInfo[0].endAt).format('YYYY년 MM월 DD일 HH시 mm분')%></dd>
                                                <dt class="col-sm-3">봉사 승인</dt>
                                                    <% if (result.volInfo[0].acceptStatus=='wait'){%>
                                                    <dd class="col-sm-9">승인 대기 중</dd>
                                                    <%}else if (result.volInfo[0].acceptStatus=='accept'){%>
                                                    <dd class="col-sm-9">승인됨(승인 날짜 : <%=moment(result.volInfo[0].acceptAt).format('YYYY년 MM월 DD일 HH시 mm분')%>)</dd>
                                                    <%}else if (result.volInfo[0].acceptStatus=='reject'){%>
                                                    <dd class="col-sm-9">승인 거부됨(승인거부 날짜 : <%=moment(result.volInfo[0].acceptAt).format('YYYY년 MM월 DD일 HH시 mm분')%>)</dd>
                                                    <%}%>
                                                <%}%>
                                            <%}%>
                                        <%}%>
                                    <%}%>
                                <%}%>

                            </dl>
                            <hr>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="h2tab2">
                            <h4 class="page-title">봉사 로그</h4>
                            <div class="separator-2"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <font color="red">봉사자</font> /
                                        <font color="blue">어르신</font>
                                    </p>
                                    <div id="map-canvas"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="h2tab3">
                            <!-- comments start -->
                            <div class="comments margin-clear space-top">
                                <%if(result.volInfo.length==0){%>
                                <p>받은 피드백이 없습니다.</p>
                                <%}%>
                                <!-- comment start -->
                                <div class="comment clearfix">
                                    <header>
                                        <h4>어르신이 받은 피드백</h4>
                                        <div class="separator-2"></div>
                                        <div class="comment-meta">
                                        </div>
                                    </header>
                                    <div class="comment-content">
                                        <div class="comment-body clearfix">
                                            <p>
                                                평점 : <% for(var j=1;j<=result.volInfo[0].helpeeScore;j++){%>
                                                <i class="fa fa-star"></i>
                                                <% }for(var j=1;j<6-result.volInfo[0].helpeeScore;j++){%>
                                                <i class="fa fa-star-o"></i>
                                                <%}%>
                                            </p>
                                            <p>
                                                한줄평 : <%=result.volInfo[0].helpeeFeedbackContent%><br>
                                                <div class="form-group">
                                                    <textarea class="form-control feedbackTextArea" id="feedbackTextArea" rows="4" placeholder="녹음파일 내용을 입력하세요"></textarea>
                                                    <a id="feedbackSave" onclick="saveFeedback(<%=result.volInfo[0].volunteerId%>)" class="pull-right btn btn-sm btn-animated btn-default-transparent">저장하기<i class="fa fa-save"></i></a>
                                                </div>
                                                <audio controls src="http://210.89.191.125/photo/<%=result.volInfo[0].volunteerId%>.mp3">Your user agent does not support the HTML5 Audio element.</audio>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment clearfix">
                                    <header>
                                        <h4>봉사자가 받은 피드백</h4>
                                        <div class="separator-2"></div>
                                        <div class="comment-meta">

                                        </div>
                                    </header>
                                    <div class="comment-content">
                                        <div class="comment-body clearfix">
                                            <p>
                                                평점 : <% for(var j=1;j<=result.volInfo[0].helperScore;j++){%>
                                                <i class="fa fa-star"></i>
                                                <% }for(var j=1;j<6-result.volInfo[0].helperScore;j++){%>
                                                <i class="fa fa-star-o"></i>
                                                <%}%>
                                            </p>
                                            <p>
                                                한줄평 : <%=result.volInfo[0].helperFeedbackContent%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- comments form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <footer id="footer" class="clearfix dark">
        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Copyright © 2018 AJOU UNIVERSITY SW. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->

</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script src="/template/plugins/jquery.min.js"></script>
<script src="/template/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Isotope javascript -->
<script src="/template/plugins/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/template/plugins/isotope/isotope.pkgd.min.js"></script>
<!-- Magnific Popup javascript -->
<script src="/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Appear javascript -->
<script src="/template/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/template/plugins/waypoints/sticky.min.js"></script>
<script src="/template/plugins/charts/Chart.js"></script>
<!-- Count To javascript -->
<script src="/template/plugins/countTo/jquery.countTo.js"></script>
<!-- Slick carousel javascript -->
<script src="/template/plugins/slick/slick.min.js"></script>
<!-- Initialization of Plugins -->
<script src="/template/js/template.js"></script>
<!-- Custom Scripts -->
<script src="/template/js/custom.js"></script>
<script src="/util/AjaxUtil.js"></script>

<script type="text/javascript">

    var volId = "<%= volId %>";

    //승인 버튼 눌렀을 때 모달 뜨고 리스트 업데이트하기
    $('#approve').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget); // Button that triggered the modal
        var volID = button.data('volid'); // Extract info from data-* attributes

        var url = "/admin/volunteer/accept";
        var approve_vol_info = {"volunteerId": volID};
        AjaxHandler.put(url,approve_vol_info,function (result) {
            var $modal_body = $('<p>승인했습니다.</p>');
            $('#approve_modal_body').append($modal_body);
        }, function (request,status,error) {
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        });
    });


    //거부 버튼 눌렀을 때 모달 뜨고 리스트 업데이트하기
    $('#reject').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var volID = button.data('volid'); // Extract info from data-* attributes

        var url = "/admin/volunteer/reject";
        var reject_vol_info = {"volunteerId": volID};

        AjaxHandler.put(url,reject_vol_info,function (result) {
            var $modal_body = $('<p>승인 거부했습니다.</p>');
            $('#reject_modal_body').append($modal_body);
        }, function (request,status,error) {
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        });
    });

    //승인취소 버튼 or 승인거부 취소 버튼 눌렀을 때 모달 뜨고 리스트 업데이트하기
    $('#wait').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var volID = button.data('volid'); // Extract info from data-* attributes

        var url = "/admin/volunteer/wait";
        var wait_vol_info = {"volunteerId": volID};

        AjaxHandler.put(url,wait_vol_info,function (result) {
            var $modal_body = $('<p>대기상태로 전환했습니다.</p>');
            $('#wait_modal_body').append($modal_body);
        }, function (request,status,error) {
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        });
    });

    //업데이트시 새로고침
    $(".refresh_parent").on('click',function () {
        parent.location.reload();
    });

    function saveFeedback(volID) {
        var url = "/admin/one-line-feedback";
        var feedbackContent = {"helpeeFeedbackContent": $('#feedbackTextArea').val(),"volunteerId": volID};
        $.ajax({
            type: "PUT",
            url: url,
            data: feedbackContent,
            dataType: "json",

            error:function (request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
            success: function (xhr, desc, err) {
                alert("녹음 내용이 저장되었습니다");
            }
        });
    }

    function refresh(){
        parent.location.reload();
    }

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 12,
            center: {lat: 37.5662952, lng: 126.97794509999994}
        });
        var url='/api/volunteer/detail/volunteer/log/'+volId;
        AjaxHandler.get(url, function (result) {
            var helpeeLoglength = Object.keys(result.helpeeLog).length;
            var helperLoglength = Object.keys(result.helperLog).length;
            if (helpeeLoglength > 0) {
                var locationData = new Array();
                var helperLog = result.helperLog;
                var helpeeLog = result.helpeeLog;
                var icon_base='http://maps.google.com/mapfiles/ms/micons/';
                var helpeeMovingPath = new google.maps.Polyline({
                    path: helperLog,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.5,
                    strokeWeight: 2
                });
                locationData.push({
                    location : {
                        lat : helpeeLog[0].lat ,
                        lng : helpeeLog[0].lng
                    } ,
                    message : '<h5>어르신 처음 위치</h5>',
                    icon : icon_base+'blue-dot.png'
                });
                locationData.push({
                    location : {
                        lat : helpeeLog[helpeeLog.length-1].lat ,
                        lng : helpeeLog[helpeeLog.length-1].lng
                    } ,
                    message : '<h5>어르신 마지막 위치</h5>',
                    icon : icon_base+'blue-dot.png'
                });
            }
            if (helperLoglength > 0) {
                var helperMovingPath = new google.maps.Polyline({
                    path: helpeeLog,
                    geodesic: true,
                    strokeColor: '#0000FF',
                    strokeOpacity: 0.5,
                    strokeWeight: 2
                });
                locationData.push({
                    location : {
                        lat : helperLog[0].lat ,
                        lng : helperLog[0].lng
                    } ,
                    message : '<h5>봉사자 처음 위치</h5>',
                    icon : icon_base+'red-dot.png'
                });
                locationData.push({
                    location : {
                        lat : helperLog[helperLog.length-1].lat ,
                        lng : helperLog[helperLog.length-1].lng
                    } ,
                    message : '<h5>봉사자 마지막 위치</h5>',
                    icon : icon_base+'red-dot.png'
                });
            }
            renderMap(map , locationData);
            helperMovingPath.setMap(map);
            helpeeMovingPath.setMap(map);

        });
    }

    function renderMap(map , dataList) {
        var latlngBounds = new google.maps.LatLngBounds();

        for (var index = 0; index <  dataList.length; index++) {
            addMarker(dataList[index].location, index, map , dataList[index].message, dataList[index].icon);
            latlngBounds.extend(dataList[index].location);
        }

        map.setCenter(latlngBounds.getCenter());
        if (dataList.length > 1) {
            map.fitBounds(latlngBounds);
        }
    }

    function addMarker(position, index, map , clickHtml,icon) {
        var marker = new google.maps.Marker({
            position: position,
            animation: google.maps.Animation.DROP,
            map: map,
            icon : icon
        });

        // process multiple info windows
        (function (marker, index) {
            // add click event
            google.maps.event.addListener(marker, 'click', function () {
                var infowindow = new google.maps.InfoWindow({
                    content: clickHtml
                });
                infowindow.open(map, marker);
            });
        })(marker, index);
        return marker;
    }

    function getLocation(lng, lat){
        var geocode = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&key=AIzaSyCDIeArNwxnqoGn0ERABXrI3M6U-OMyIos&sensor=false";
        var address="";
        AjaxHandler.post(geocode,function (locationResult) {
            if (locationResult.status == 'OK') {
                address += locationResult.results[1].formatted_address;
            } else {
                alert("봉사 위치를 가져올 수 없습니다.");
                address += "위치정보 오류";
            }
        });

        return address;
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v-3.exp&key=AIzaSyDxOBACwViZBQrKqxL_iV2G3tDF5XnAhvg&callback=initMap">
</script>
</body>
</html>
